.component-page-header{
    margin-bottom: 15px;
    padding:80px 15px 20px;

    display: flex;
    align-items: center;

    background-color: $gray-lightest;

    > h2{
        margin: 0;

        > small{
            display: block;
            font-size: 45%;
        }
    }
}