.view-aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $white;

    z-index: 1095;
    transform: translateX(-100%);
    transition: transform .4s;
    will-change: transform;

    @media(min-width: 768px){
        width: 280px;
    }

    &.open{
        transform: translateX(0);
    }

    //back menu
    .back-menu{
        position: relative;
        padding: 0 15px;
        height: 60px;

        display: flex;
        align-items: center;

        color: $brand-primary;
        font-size: 16px;
        font-weight: bolder;

        background-color: $gray-lightest;
        box-shadow: 0 3px 6px rgba($black, .27);
        cursor: pointer;

        > i.fa{
            padding-right: 15px;
            font-size: 18px;
        }
    }

    // pages
    .features-group{
        border-left: 8px solid $brand-primary;

        > .category{
            padding: 15px 0 15px 15px;

            background-color: $gray-lightest;
            border-bottom: 1px solid darken($gray-lightest, 7%);

            h4{
                font-weight: bold;
            }

            small{
                display: block;
                font-size: 10px;
            }
        }

        > .item-group{
            &.has-items{
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -8px;
                    width: 8px;
                    height: 100%;
                    background-color: darken($brand-primary, 25%);
                    z-index: 1096;
                }

                > .item {
                    padding-left: 10px;
                    cursor: default;

                    &:hover{
                        background-color: inherit;
                    }
                }
            }

            > .item {
                padding: 10px 10px 10px 15px;

                color: $gray-light;
                border-bottom: 1px solid darken($gray-lightest, 4%);

                cursor: pointer;
                transition: padding .2s, background .2s;

                &:hover {
                    background-color: $gray-lightest;
                }

                &.active {
                    color: $brand-primary;
                    background-image: linear-gradient(145deg, transparent 50%, $gray-lighter);
                }
            }

            > .sub-item {
                padding: 5px 0 5px 25px;

                color: $gray-light;
                border-bottom: 1px solid darken($gray-lightest, 4%);

                cursor: pointer;
                transition: padding .2s, background .2s;

                &:hover {
                    background-color: $gray-lightest;
                }

                &.active {
                    color: $brand-primary;
                    background-image: linear-gradient(145deg, transparent 50%, $gray-lighter);
                }
            }
        }
    }
}

.view-aside-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($black, .5);
    background-image: linear-gradient(45deg, rgba($brand-primary, .4), rgba($brand-accent, .8));

    opacity: 0;
    transform: translateX(-100%);
    transition: transform ease-out .4s, opacity .4s;
    will-change: transform, opacity;
    z-index: 1094;

    &.open{
        opacity: 1;
        transform: translateX(0);
    }
}