.component-upload-files{
    position: relative;
    padding: 15px;

    height: 185px;

    background-color: $gray-lightest;
    border-radius: 5px;

    // DROP
    > .drop-area{
        position: relative;

        height: 100%;

        border: 1px dashed $gray-light;
        border-radius: 5px;

        // LOADING
        > .loading{
            position: absolute;

            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            color: $gray;
            background-color: rgba($gray-lightest, .85);
            z-index: 4;
        }

        // CLICKABLE LABEL
        > label{
            width: 100%;
            height: 100%;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            text-align: center;

            // INPUT FILE
            > input[type=file]{
                display: none;
            }
        }
    }

    // ERROR IF FOLDER IS EMPTY
    > .error-folder{
        position: relative;

        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}