html, body{
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;

    &.scroll_blocked{
        overflow-y: hidden;
    }
}

// HTML5 SORTABLE
.html5-sortable .moving{}

.html5-sortable .over, .droppable .over{
    background-color: $gray-lightest;
    border: 1px dashed $gray-lighter;
    z-index: 5;
}
