.view-login{
  padding: 0 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(45deg, $brand-primary, $brand-accent);

  > .content{
    padding: 15px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(#000, .27);

    @media(min-width: 768px){
      width: 360px;
    }
  }
}