<page-header section="'Principal'" page="CONFIGS.COMPANY.name"></page-header>

<div class="view-panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
    
            </div>
        </div>
    </div>
</div>